body {background-color: #A6A6A6;
      margin: 0px;}

.header{margin: 40px 20px 0;
        font-size: 0;}

.header >*{display: inline-block;
            font-size: 16px;
            vertical-align: middle;
            height: 100%;
            line-height: 45px;}

.navbar {background-color: aliceblue;
         position:fixed}















@media screen and (max-width: 425px){}