body {  background-image:url(https://st.depositphotos.com/1809008/3397/i/950/depositphotos_33979267-stock-photo-concrete-texture.jpg);
        background-position:center center;
        background-attachment:fixed;
        background-repeat:no-repeat;
        background-size:cover;
        margin:0px;
        font-family: 'Ubuntu', sans-serif;}

p {font-size: 1.5rem;}

.header{margin: 40px 20px 0;
        font-size: 0;}

.header >*{display: inline-block;
            font-size: 16px;
            vertical-align: middle;
            height: 100%;
            line-height: 45px;}


.navbar {position:fixed}


.main {padding: 5% ;
        margin: 100px;
       margin-top: 200px;
       margin-bottom: 200PX;
       border-radius: 28px;}

.main h1 {text-align: center;
         margin: 15px 13%;
          font-family: 'Ubuntu', sans-serif;}
.main p {text-align: center;}





.features{display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-content: stretch;
          justify-content: space-between;
          align-items: center;
          padding: 10%;
          grid-template: repeat(3,1fr) / repeat(3, 1fr);
          height: 500px;
          margin-bottom: -1rem;
          background-color: #212020;}

.feature_content{background-color: #ffffff;
                 border-radius: 10px;
                 height: 100%;
                 display: flex;
                 align-items: center;
                 overflow: hidden;}
.feature_card {margin: 5%;}

.features h6 {text-align: center;}

.movimiento {transition: width 1s;}

.movimiento:hover { width: 100%;}

.card_container{background-color: #212020;
                display: flex;
                gap: 10px;}

.item {width: 100%;
       height: 400px;}

.container {text-align: center;
            padding: 5%;}
.container h1 {color: #ffffff;}

.container p {color: #ffffff;
              padding: 1rem;}

.mensaje_icon a{background-color: none;
          position: fixed;
          bottom:2%;
          right: 1%;}

.footer {display:flex;
        justify-content: center;
         width: 100%;
         height: 0%;
         background-color: #212020;
         border-color: #ffffff;
         padding: 2%;}

.footer h6{color:#ffffff;}

@media screen and (max-widht:750) {
        .body p {font-size: 100vw;}
}
