body {  background-image:url(https://st.depositphotos.com/1809008/3397/i/950/depositphotos_33979267-stock-photo-concrete-texture.jpg);
        background-position:center center;
        background-attachment:fixed;
        background-repeat:no-repeat;
        background-size:cover;
        margin:0px;
        font-family: 'Ubuntu', sans-serif;}

p {font-size: 1.5rem;}

.header{margin: 40px 20px 0;
        font-size: 0;}

.header >*{display: inline-block;
            font-size: 16px;
            vertical-align: middle;
            height: 100%;
            line-height: 45px;}

.navbar {position:fixed}

.main {padding: 5% ;
        margin: 100px;
       margin-top: 200px;
       margin-bottom: 200PX;
       border-radius: 28px;}

.main h1 {text-align: center;
         margin: 15px 13%;
          font-family: 'Ubuntu', sans-serif;}
.main p {text-align: center;}


.features{display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-between;
  align-items: center;
          padding: 10%;
          grid-template: repeat(3,1fr) / repeat(3, 1fr);
          height: 500px;
          margin-bottom: -1rem;
          background-color: #212020;}

.feature_content{background-color: #ffffff;
                 border-radius: 10px;
                 height: 100%;
                 display: flex;
                 align-items: center;
                 overflow: hidden;}
.feature_card {margin: 5%;}

.features h6 {text-align: center;}

.movimiento {transition: width 1s;}

.movimiento:hover { width: 100%;}

.card_container{background-color: #212020;
                display: flex;
                flex-wrap: nowrap;
                flex-direction: row;
                align-items: center;
                gap: 10px;}

.item {width: 100%;
       height: 400px;}

.container {text-align: center;
            padding: 5%;}
.container h1 {color: #ffffff;}

.container p {color: #ffffff;
              padding: 1rem;}

.mensaje_icon a{background-color: none;
          position: fixed;
          bottom:2%;
          right: 1%;}

.open-button {background-color: none;}

/* Estilos para chat */

.open-button {
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        opacity: 0.8;
        position: fixed;
        bottom: 35px;
        right: 20px;
        width: 110px;
      }
      .chat-popup {
        display: none;
        position: fixed;
        bottom: 0;
        right: 15px;
        border: 3px solid #f1f1f1;
        z-index: 9;
      }
      .form-container {
        max-width: 277px;
        padding: 10px;
        background-color: white;
      }
      .form-container textarea {
        width: 100%;
        padding: 30px;
        margin: 10px 5px 10px 5px;
        border: none;
        background: #f1f1f1;
        resize: none;
        min-height: 95px;
      }
      .form-container textarea:focus {
        background-color: #ddd;
        outline: none;
      }

      .form-container .btn {
        background-color: #04AA6D;
        color: white;
        padding: 10px 10px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom:10px;
        opacity: 0.8;
      }
      .form-container .cancel {
        background-color: red;
      }
      .form-container .btn:hover, .open-button:hover {
        opacity: 1;
      }

.footer {display:flex;
        justify-content: center;
         width: 100%;
         height: 0%;
         background-color: #212020;
         border-color: #ffffff;
         padding: 2%;}

.footer h6{color:#ffffff;}

@media screen and (max-width:750) {
        p {font-size:2vw;}
        .item { width: 100%;
                max-width: 400px;
                height: auto;}
        }
